.nav-link{
    float:left;
    color: white;
}
.navbar {
    border-radius: 12px;
    background-color: #5d5c61;
}
.list-group-item {
    float: left;
}
.whitebox {
    background-color: #5d5c61 !important;
    border-radius: 12px;
    overflow: auto;
    margin: 20px 288px;
    padding: 20px;
    width: 960px;
}
img {
    float: left;
}
.wrap {
    float: left;
    margin:5px;
    font-family: 'arial';
    font-size: 22px;
    color: black;
}
#picture {
    height:250px;
    width:250px;
    float: left;
    margin: 20px 20px 5px 20px;
}
body {
    background-color: #7395ae !important;
    text-decoration: none;
    text-align: center;
}
a {
    padding:5px;
}
.contactlink {
    background-color: #5d5c61 !important;
    color: white;
}

.whitebox {
    /* background-color: #edeae5; */
    overflow: auto;
    margin-right: auto;
    margin-left: auto;
    color: white;
}
.name {
    background-color: #557a95;
    border-radius: 12px;
    text-align: center;
}
#myName {
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#notes {
    height: 225px;
    width: 225px;
}

#dayplanner{
    height: 225px;
    width: 225px;
 }

 #passwordgenerator{
    height: 225px;
    width: 225px;
 }

 #eatburger {
    height: 225px;
    width: 225px;
 }

 #offenderapp{
    height: 225px;
    width: 225px;
 }

 #njs2 {
    height: 225px;
    width: 225px;
 }

 #offenderapp{
    height: 225px;
    width: 225px;
 }

 .content-holder {
    display: flex;
    margin: 15px;
  }
  
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .third-column {
    height: 580px;
    width: 250px;
  }
  
  .second-column {
    height: 580px;
    width: 250px;
  }
  
  .first-column {
    height: 580px;
    width: 250px;
  }
  h2{
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    color: white;
}

h3{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    background-color: #5d5c61;
    color: white;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
p {
    padding:0px 20px;
    margin:0px 0px 16px;
    font-family: 'Josefin Sans', sans-serif;
}
.links {
    float: right;
}
footer {
    border-top: 8px solid #557a95;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    text-align: center;
    background-color: #5d5c61;
}
p.foot {
    position: absolute;
    width: 100%;
    color: white;
    line-height: 5px;
    text-align: center;
    bottom:0;
}
a:link {
    color: white;
    text-decoration: none;
}
a:hover {
    color: blue;
}
span {
    color: white;
}
