.nav-link{
    float:left;
}
.whitebox {
    background-color: white;
    overflow: auto;
    margin: 20px 288px;
    padding: 20px;
    width: 960px;
}
img {
    float: left;
}
.wrap {
    float: left;
    margin:5px;
    font-family: 'arial';
    font-size: 22px;
    color:#777777;
}
#picture {
    height:200px;
    width:200px;
    float: left;
    margin: 20px 20px 5px 20px;
}
body {
    background-image: url('../responsive_portfolio/assets/images/interlaced.png');
    text-align: center;
}
a {
    float: right;
    padding:5px;
}
#submit {
    background-color: #4aaaa5;
    cursor: pointer;
    border: none;
    color: white;
    height: 30px;
    width: 75px;
}
.whitebox {
    background-color: white;
    overflow: auto;
    margin-right: auto;
    margin-left: auto;
}
.name {
    background-color: #4aaaa5;
    text-align: center;
}
#myName {
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#hangman{
    height: 250px;
    width: 250px;
}

#rpggame{
    height: 250px;
    width: 250px;
 }

 #trivia{
    height: 250px;
    width: 250px;
 }

 #rutgersinfowidget{
    height: 250px;
    width: 250px;
 }

 #rockpaperscissors{
    height: 250px;
    width: 250px;
 }

 .content-holder {
    display: flex;
    margin: 15px;
  }
  
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .third-column {
    height: 580px;
    width: 250px;
  }
  
  .second-column {
    height: 580px;
    width: 250px;
  }
  
  .first-column {
    height: 580px;
    width: 250px;
  }
  h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    color: #4aaaa5
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    width: 100%;
}
p {
    padding:0px 20px;
    margin:0px 0px 16px;
}
footer {
    border-top: 8px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    text-align: center;
    background: #777777;
}
p.foot {
    position: absolute;
    width: 100%;
    color:white;
    line-height: 5px;
    text-align: center;
    bottom:0;
}
