/*
img {
    float: left;
}
.wrap {
    float: left;
    margin:10px;
    padding: 5px;
    font-family: 'arial';
    font-size: 22px;
    color:#777777;
}
.picture {
    height:200px;
    width:200px;
}
/*