.picture {
    height:200px;
    width:200px;
}
.container {
    position: relative;
    display: inline-block;
    padding:0px 0px 5px 0px;
}
.text-block {
    position: absolute;
    bottom: 20px;
    background-color: #4aaaa5;
    color:white;
    width:100%;
}
.whitebox4 {
    background-color: white;
    overflow: auto;
    margin: 20px 288px;
    padding: 20px;
    width: 960px;
}
.column {
    float: left;
    width:33.33%;
}